.footer {
  grid-column: left-sidebar-start / right-sidebar-end;
  grid-row: 7 / 8;
}

.footer {
  display: flex;
  color: #000;
  justify-content: center;
  margin-bottom: -3rem;
  margin-left: 1.5rem;
}
